cave/x64/
cave/Debug/
cave/cave.VC.opendb
cave/cave.sdf
cave/.vs/
cave/cave.vcxproj.user
cave/cave.VC.VC.opendb
cave/cave.VC.db
pet.xcodeproj/project.xcworkspace/xcuserdata
pet.xcodeproj/xcuserdata
build/
